#what .items {
    display: block;
    /* padding: 1rem; */
}


/* Align icon to left */

#what .items .item {
    display: flex;
    text-align: left;
}


/* Position icon */

#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}


/* Smartphones */

@media(max-width: 500px) {
    /* Navbar */
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    #navbar .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    #navbar ul {
        padding: 0.5rem;
    }
    /* Showcase */
    #showcase .showcase-content {
        top: 110px;
    }
    /* Section: Who We Are */
    #who {
        display: flex;
        height: 700px;
        flex-direction: column;
    }
    /* Section: Clients */
    #clients .items img {
        width: 80%;
    }
    #clients .items div:last-child {
        display: none;
    }
    /* Section: Contact */
    #contact {
        height: 800px;
        flex-direction: column;
    }
    #contact .map {
        border-top: 4px solid #333;
    }
}

@media(max-height: 568px) {
    #showcase .showcase-content {
        margin-top: -2rem;
        top: 140px;
    }
    .l-heading {
        font-size: 3rem;
    }
    .lead {
        font-size: 1rem;
    }
}