@media(min-width:112.5rem) {
    html {
        font-size: 75%;
    }
}

@media(max-width:75rem) {
    html {
        font-size: 60%;
    }
}

@media(max-width:56.25rem) {
    html {
        font-size: 50%;
    }
}

@media(max-width:37.5rem) {
    html {
        font-size: 40%;
    }
}