.container {
    max-width: 110rem;
    margin: auto;
    padding: 0 5rem;
    overflow: hidden;
}

.text {
    &-center {
        text-align: center;
    }
    &-primary {
        color: #93cb52;
    }
    &-dark {
        color: #333;
    }
    &-light {
        color: #fff;
    }
}

.bg {
    &-dark {
        background-color: #333;
        color: #fff;
    }
    &-light {
        background-color: #f4f4f4;
        color: #333;
    }
    &-primary {
        background: #93cb52;
        color: #fff;
    }
}

.heading {
    &-small {
        font-size: 1.5rem;
    }
    &-medium {
        font-size: 3rem;
    }
    &-large {
        font-size: 7rem;
    }
}

.py {
    &-1 {
        padding: 1.5rem 0;
    }
    &-2 {
        padding: 1.5rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
}

.lead {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0 10rem;
    &-small {
        padding-top: 1rem;
        font-size: 1.2rem;
    }
}

.btn {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    &-primary {
        background: #93cb52;
        color: #fff;
        &:hover {
            background: #679b2c;
        }
    }
    &-dark {
        color: #fff;
        background: #333;
        &:hover {
            background: #222;
        }
    }
}