.container {
  max-width: 110rem;
  margin: auto;
  padding: 0 5rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}
.text-primary {
  color: #93cb52;
}
.text-dark {
  color: #333;
}
.text-light {
  color: #fff;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}
.bg-primary {
  background: #93cb52;
  color: #fff;
}

.heading-small {
  font-size: 1.5rem;
}
.heading-medium {
  font-size: 3rem;
}
.heading-large {
  font-size: 7rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.lead {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0 10rem;
}
.lead-small {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.btn-primary {
  background: #93cb52;
  color: #fff;
}
.btn-primary:hover {
  background: #679b2c;
}
.btn-dark {
  color: #fff;
  background: #333;
}
.btn-dark:hover {
  background: #222;
}

@media (min-width: 112.5rem) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75rem) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5rem) {
  html {
    font-size: 40%;
  }
}
/*
MEDIA QUERY MANAGERS
0 - 600 :      Phone
600 - 900:     Tablet Portrait
900 - 1200:    Tablet Landscape
[1200 - 1800]  is where normal styles applly
1800 + :       Big Desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav {
  font-size: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav-logo {
  font-weight: bold;
  padding-left: 2rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
}
.nav-menu li {
  padding: 1.5rem;
}
.nav-menu li a {
  padding: 1rem;
}
.nav-menu li a:link, .nav-menu li a:visited {
  display: inline-block;
}
.nav-menu li a:hover {
  background-color: #93cb52;
  border-radius: 0.5rem;
}

.showcase {
  height: 100vh;
}
.showcase-img {
  height: inherit;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showcase-content {
  display: grid;
  grid-template-rows: repeat(3, 0.7fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.what-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
}
.what-box-cover {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 1rem;
}
.what-box-cover .icon-cover {
  display: inline-block;
  border-radius: 50%;
  background-color: #93cb52;
  padding: 1.2rem;
}
.what-box-cover p {
  padding: 0 3rem;
}

.who {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.who-img {
  background-image: url(../img/people.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.who-content {
  padding-left: 2rem;
}
.who-content h3 {
  padding-top: 1rem;
}
.who-content ul {
  margin: 0.5rem 2rem;
}
.who-content ul li {
  padding: 1rem 0;
}
.who-content ul li:not(:last-child) {
  border-bottom: #3f3939 dotted 1px;
}

.client .container {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  padding: 2rem 5rem;
}
.client-logos {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  grid-gap: 2rem;
}
.client-logos-cover img {
  display: block;
  width: 80%;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact .form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.contact .form-group {
  font-size: 1.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
.contact .form-group label {
  padding-bottom: 0;
}
.contact .form-group input,
.contact .form-group textarea {
  padding: 0.7rem 0;
  outline: none;
}
.contact .form-group input:focus,
.contact .form-group textarea:focus {
  border: 1px solid #233f04;
  box-shadow: 1px 3px 7px #233f04;
}
.contact .form-group textarea {
  height: 8rem;
}
.contact .form > div:last-child {
  margin-top: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 112.5rem) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75rem) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5rem) {
  html {
    font-size: 40%;
  }
}/*# sourceMappingURL=main.css.map */