@import 'utilities';
@import 'config';
@import 'media';

/*
MEDIA QUERY MANAGERS
0 - 600 :      Phone
600 - 900:     Tablet Portrait
900 - 1200:    Tablet Landscape
[1200 - 1800]  is where normal styles applly
1800 + :       Big Desktop
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    &-logo {
        font-weight: bold;
        padding-left: 2rem;
    }
    &-menu {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        align-items: center;
        li {
            padding: 1.5rem;
            a {
                padding: 1rem;
                &:link,
                &:visited {
                    display: inline-block;
                }
                &:hover {
                    background-color: #93cb52;
                    border-radius: .5rem;
                }
            }
        }
    }
}

.showcase {
    height: 100vh;
    &-img {
        height: inherit;
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/showcase.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-content {
        display: grid;
        grid-template-rows: repeat(3, .7fr);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.what {
    &-box {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: space-between;
        &-cover {
            display: grid;
            grid-template-rows: repeat(3, auto);
            grid-row-gap: 1rem;
            .icon-cover {
                display: inline-block;
                border-radius: 50%;
                background-color: #93cb52;
                padding: 1.2rem;
            }
            p {
                padding: 0 3rem;
            }
        }
    }
}

.who {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &-img {
        background-image: url(../img/people.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &-content {
        padding-left: 2rem;
        h3 {
            padding-top: 1rem;
        }
        ul {
            margin: 0.5rem 2rem;
            li {
                padding: 1rem 0;
                &:not(:last-child) {
                    border-bottom: rgb(63, 57, 57) dotted 1px;
                }
            }
        }
    }
}

.client {
    .container {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 2rem;
        padding: 2rem 5rem;
    }
    &-logos {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: space-between;
        grid-gap: 2rem;
        &-cover {
            img {
                display: block;
                width: 80%;
            }
        }
    }
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .form {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        &-group {
            font-size: 1.5rem;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            label {
                padding-bottom: 0;
            }
            input,
            textarea {
                padding: .7rem 0;
                outline: none;
                &:focus {
                    border: 1px solid #233f04;
                    box-shadow: 1px 3px 7px #233f04;
                }
            }
            textarea {
                height: 8rem;
            }
        }
        >div:last-child {
            margin-top: 1rem;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@import 'media';